doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MaxZoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Max Zoom
        main
            #welcome
                form
                    input(type="text" placeholder="채팅방 이름" required)
                    button 채팅방 들어가기
            #call
                #myStream
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    button#mute 음소거
                    button#camera 카메라 끄기
                select#cameras
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")
