doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MaxZoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Max Zoom
        main
            form#nick
                input(type="text", placeholder="닉네임을 정하세요" required)
                button 저장하기
            ul
            form#message
                input(type="text", placeholder="메세지를 작성하세요" required)
                button 보내기
        script(src="/public/js/app.js")
